version: '3.8'

services:
  api:
    build: .
    container_name: transport-api
    ports:
      - "5000:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__MariaDbConnection: "Server=db;Port=3306;Database=AdhiSreeTransportDB2;User=root;Password=Jackpot123;"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mariadb:11
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "Jackpot123"
      MYSQL_DATABASE: AdhiSreeTransportDB2
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-pJackpot123"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mariadb_data:
